/* body{ 
    margin: 0;
  }
  canvas{ 
    display: block;
  }
  #particles-container{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #000000; 
    background-image: url("https://images.unsplash.com/photo-1518818419601-72c8673f5852?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 100% 100%; 
  } */

  :root {
    --cor-principal:#0B132B;
    --cor-divs: #3A506B;
    --cor-blue: #5BC0BE;
    --cor-blue-light: #6FFFE9;
    --cor-blue-dark: #151019;
    --cor-txt: #FFFFFF;
    --cor-txt-light: rgb(193, 185, 255);
  }

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    transition: 0.5s;
  }

body{
  width: 100%;
}
/* -------------------------------header---------------------------- */
#vamos {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: var(--cor-txt-light);
   font-size: 20px;
   margin-top: 5px;
   display: none;
   grid-template-rows: 1fr 1fr;
   animation: surgir 1s ease-in-out;
}

#vamos a {
  text-decoration: none;
  color: var(--cor-txt-light);
}

#vamos a:hover {
  font-size: 24px;
}

#vamos nav {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 30px;
}

#tell {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

#tell-tell{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
}

#tell-tell-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
}

#tell-tell-icon i {
  font-size: 30px;
}

#tell-rede {
  text-align: center;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#tell-rede img:hover {
  padding-top: 5px;
  transition: 0.5s;
}
/* ---------------------------fundo animado ----------------------------- */
#particles-container {
  width: 100%;
  background-color: var(--cor-blue-dark);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  position: absolute;
  top: 30vh;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-family: 'Chivo Mono', monospace;
  font-size: 5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: rgb(193, 185, 255);
}
.container p span.typed-text {
  font-family: 'Chivo Mono', monospace;
  font-weight: normal;
  color: var(--cor-blue-light);
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

#apresentacao {
  width: 100%;
  background-color: var(--cor-principal);
}

#apresentacao-img {
  text-align: center;
  background: transparent;
  border-radius: 100%;
  position: absolute;
  top: 50vh;
  left: 37%;
  animation: surgir-img 1s ease-in-out; 
}

#apresentacao-img h1 {
   color: var(--cor-txt);
   font-size: 35px;
   margin-top: 20px;
}

#apresentacao-img img {
  width: 250px;
}

#apresentacao-txt {
  padding-top: 110px;
  color: var(--cor-txt);
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

#apresentacao-txt p{
  width: 750px;
  text-align: center;
  margin-bottom: 20px;
}

#hi h2 {
  color: var(--cor-blue-light);
  margin-bottom: 20px;
  font-size: 35px;
}
/* ------------------classes de operação----------------------------- */
.fechado {
  display: none;
}

.aberto {
  display: block;
}

.dim {
  height: 70vh;
  animation: subir-fundo 1s ease-in-out;
}
.aum {
  height: 100vh;
}  

/* -------------------------animations------------------- */
 @keyframes surgir {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}

@keyframes surgir-img {
  0% {
    opacity: 0;
    transform: translatey(150px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
} 

@keyframes subir-fundo {
  0% {
    height: 100vh;
  }
  100% {
    height: 70vh;
  }
}