/* body{ 
    margin: 0;
  }
  canvas{ 
    display: block;
  }
  #particles-container{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #000000; 
    background-image: url("https://images.unsplash.com/photo-1518818419601-72c8673f5852?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 100% 100%; 
  } */

  :root {
    --cor-principal:#0B132B;
    --cor-divs: #3A506B;
    --cor-blue: #5BC0BE;
    --cor-blue-light: #6FFFE9;
    --cor-blue-dark: #151019;
    --cor-txt: #FFFFFF;
    --cor-txt-light: rgb(193, 185, 255);
    --cor-pokedex: #EF233C;
    --cor-marketing: #003566;
    --cor-senai-livre:#FFC300;
    --cor-dashboard:#1E1E2D;
    --cor-sandalia: #FF8A00;
  }

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    transition: 0.5s;
  }

body{
  width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--cor-blue-dark);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-dashboard);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--cor-blue-dark);  /* creates padding around scroll thumb */
}
/* -------------------------------header---------------------------- */
#burguer {
  display: none;
}

#itens {
  display: grid;
}

#vamos {
  position: absolute;
  min-width: 100%;
  background-color: transparent;
  color: var(--cor-txt-light);
   font-size: 20px;
   margin-top: 5px;
   display: none;
   grid-template-rows: 1fr 1fr;
   animation: surgir 1s ease-in-out;
}

#vamos nav a {
  text-decoration: none;
  color: var(--cor-txt-light);
}

#vamos a:hover {
  font-size: 24px;
}

#vamos nav {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 30px;
}

#tell {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

#tell-tell{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
}

#tell-tell-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
}

#tell-tell-icon i {
  font-size: 30px;
}

#tell-rede {
  text-align: center;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#tell-rede img:hover {
  padding-top: 5px;
  transition: 0.5s;
}
/* ---------------------------fundo animado ----------------------------- */
#particles-container {
  width: 100%;
  background-color: var(--cor-blue-dark);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  position: absolute;
  top: 30vh;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-family: 'Chivo Mono', monospace;
  font-size: 5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: rgb(193, 185, 255);
}
.container p span.typed-text {
  font-family: 'Chivo Mono', monospace;
  font-weight: normal;
  color: var(--cor-blue-light);
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

#apresentacao {
  min-width: 100%;
  background-color: var(--cor-principal);
}

#apresentacao-img {
  text-align: center;
  background: transparent;
  border-radius: 100%;
  position: absolute;  
  top: 50vh;
  left: 50%;
  transform: translate(-125px, 0);
  animation: surgir-img 1s ease-in-out; 
}

#fot-ma {
  position: relative;;
}

#apresentacao-img h1 {
   color: var(--cor-txt);
   font-size: 35px;
   margin-top: 20px;
}

#apresentacao-img img {
  width: 250px;
}

#apresentacao-txt {
  padding-top: 110px;
  color: var(--cor-txt);
  font-size: 15px;
  display: flex;
  justify-content: center;
}

#apresentacao-txt p{
  width: 650px;
  text-align: center;
  margin-bottom: 20px;
}

#exp p {
  padding-bottom: 40px;
}

#hi h2 {
  color: var(--cor-blue-light);
  margin-bottom: 20px;
  font-size: 35px;
}
/* ------------------classes de operação----------------------------- */
.fechado {
  display: none;
}

.aberto {
  display: block;
}

.dim {
  height: 70vh;
  animation: subir-fundo 1s ease-in-out;
}
.aum {
  height: 100vh;
}  

/* --------------------------habilidades--------------------------- */

#habilidades {
  background-color: var(--cor-divs);
  min-width: 100%;
  color: var(--cor-txt);
  text-align: center;
}

#habilidades-txt{
  padding: 30px;
  font-size: 30px;
}

#habilidades-icons{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  height: 150px;
} 

#habilidades-icons img{
  width: 100px;
}

#habilidades-icons img:hover{
  width: 120px;
}

#habilidades-box {
  display: flex;
  justify-content: space-around;
}



/* .box {
  border-radius: 40px;
  margin: 50px 20px;
  background-color: var(--cor-principal);
  width: 500px;
  height: 220px;
  -webkit-box-shadow: 0px 1px 16px 3px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 1px 16px 3px rgba(0,0,0,0.56);
  box-shadow: 0px 1px 16px 3px rgba(0,0,0,0.56);
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.box img {
  margin-top: 30px;
  width: 150px;
} */

.hab-title {
  font-size: 25px;
  margin-bottom: 20px;
}

#habilidades-box {
  padding-top: 40px;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

#experiencia-rob{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.content {
  background-color: var(--cor-principal);
}

.slide-img img {
  margin-top: 40px;
  margin-left: 10px;
  width: 128px;

}

#ma img{
  margin-top: 50px;
}

.image-rob img{
  width: 705px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#alianca .image-rob {
  display: flex;
  align-items: center;
}

#alianca .image-rob img{
  border-radius: 10px;
}


.slide-txt {
  margin-top: 35px;
  margin-left: 10px;
  text-align: left;
}

.slide-txt h4 {
  font-size: 20px;
  color: var(--cor-blue-light);
  width: 300px;
}
.slide-cont p {
  width: 315px;
}

.txt-rob h4 {
  margin-top: 60px;
  font-size: 30px;
  color: var(--cor-blue-light);
  width: 300px;
}

.txt-rob p {
  margin-top: 25px;
  font-size: 15px;
  width: 270px;
}

.txt-rob-sub {
  margin-left: 20px;
  text-align: left;
}

/* -------------------------slider----------------------------- */
.content {
  height: 220px;
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#content-rob {
  width: 1005px;
  height: 470px;
  background-color: var(--cor-principal);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img {
  height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-rob {
  height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.navigation {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.bar {

  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  transform: .5s ease;

}

.bar:hover {
  background-color: white;
}

input {
display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}
.slides-rob {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: .6s;
}

.slide-rob {
  width: 20%;
  transition: .6s;
}

#slide21:checked ~ .s1 {
  margin-left: 0;
} 

#slide22:checked ~ .s1 {
  margin-left: -20%;
} 

#slide23:checked ~ .s1 {
  margin-left: -40%;
} 
/* -------------------------------------------------- */

#slide1:checked ~ .s1 {
  margin-left: 0;
} 

#slide2:checked ~ .s1 {
  margin-left: -20%;
} 

#slide3:checked ~ .s1 {
  margin-left: -40%;
} 
/* --------------------------------------- */

#slideR1:checked ~ .s1 {
  margin-left: 0;
} 

#slideR2:checked ~ .s1 {
  margin-left: -20%;
} 

#slideR3:checked ~ .s1 {
  margin-left: -40%;
} 

#slideR4:checked ~ .s1 {
  margin-left: -60%;
} 

#slideR5:checked ~ .s1 {
  margin-left: -80%;
} 

/* -------------------------experiencias-------------------- */
#experiencia {
  background-color: var(--cor-divs);
  min-width: 100%;
  color: var(--cor-txt);
  text-align: center; 
}

#exp-txt h3 {
  font-size: 30px;
  padding-top: 30px;
}

/* #exp1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#figure {
  margin-top: 30px;
  background-color: var(--cor-principal);
  width: 933px;
  height: 470px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 40px;
} */

/* #figure img {
  width: 700px;
  border-radius: 40px;
} */

#fig-hist h4{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 25px;
}
/* -------------------------------o que faço------------------------- */

#oquefaco {
  min-width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-txt);
}

#thisfaco {
  margin-top: 50px;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#thisfaco img {
  width: 200px;
}

#thisfaco h4 {
  font-size: 30px;
  color: var(--cor-blue-light);
}

#thisfaco p {
  margin-top: 10px;
  font-size: 16px;
  width: 350px;
  margin-bottom: 60px;
}

.fac {
  display: flex;
  justify-content: center;
}

.custom-shape-divider-top-1681649512 {
  min-width: 100%;
  overflow: hidden;
  line-height: 0;
  color: var(--cor-divs);
}

.custom-shape-divider-top-1681649512 img {
  width: 230%;
}

#faco-txt  {
  text-align: center;
  font-size: 30px;
  color: var(--cor-blue-light);
}

/* -------------------------portifólio------------------------------------- */
#portifolio {
  padding-top: 20px;
  color: var(--cor-txt);
  background-color: var(--cor-principal);
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 4px;
  min-width: 100%;
  height: 550px;
}

#works-line1 {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

#port-txt {
  height: 480px;
  text-align: center;
  color: var(--cor-txt);
  background-color: var(--cor-divs);
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
}

#por-title {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
}

#por-p {
  display: flex;
  align-items: start;
}

.work {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-img img {
  width: 200px;
  display: flex;
  align-items: center;
}

.work-img {
  display: flex;
  justify-content: center;
}

.work-txt p, .work-txt h4 {
  color: var(--cor-txt);
  margin-bottom: 10px;
}

.work-txt p {
  width: 180px;
}

.work-txt-p {
  display: flex;
  justify-content: center;
  align-items: start;
}

.work:hover {
  border: none;
  box-shadow: 0px -1px 19px -3px rgba(111, 255, 233, 1);
  -webkit-box-shadow: 0px -1px 19px -3px rgba(111, 255, 233, 1);
  -moz-box-shadow: 0px -1px 19px -3px rgba(111, 255, 233, 1);
  margin-top: 30px;
}

/* ----------------------------------projects-------------------------------------------------- */

#pokedex {
  background-color: var(--cor-pokedex);
}
#mark {
  background-color: var(--cor-marketing);
  text-align: center;;
}

#mark h1 {
  color: var(--cor-txt);
  text-decoration: none;
  font-size: 30px;
  padding: 68px 0px;
  margin: 0;
}

#senaiL {
  background-color: var(--cor-senai-livre);
}

#senaiL .work-txt-p {
  height:100px ;
}

#dashboard {
  background-color: var(--cor-dashboard);
}

#dashboard img {
  width: 180px;
}

#dashboard p {
  height: 80px;
}

#sandalia {
  background-color: var(--cor-sandalia);
}

#sandalia .work-img figure {
  display: flex;
  align-items: center;
  
}

#sandalia p {
  height: 70px ;
}
/* -----------------------------------contato--------------------------- */

#contato {
  background-color: var(--cor-blue-dark);
  color: var(--cor-txt);
}

#try-fim-fim{
  overflow: hidden;
}

#try-fim {
  width: 150%;
  color: var(--cor-principal);
}

#cont img {
  width: 130px;
}

#cont img:hover {
  cursor: pointer;
  width: 170px;
}

#contato-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#contato-txt h4 {
  margin-bottom: 20px;
}

#cont-rest {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#cont-form {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 200px;
  margin-bottom: 40px;
}

#cont-form h4 {
  font-size: 20px;
}

.forma {
  text-align: center;
  margin: 20px;
}

#email, #telefone  {
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 7px;
}

.sub-title {
  font-size: 20px;
}


/* -------------------------animations------------------- */
 @keyframes surgir {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}

@keyframes surgir-img {
  0% {
    opacity: 0;
    transform: translate(-125px, 150px);
  }
  100% {
    opacity: 1;
    transform: translate(-125px, 0);
  }
} 

@keyframes subir-fundo {
  0% {
    height: 100vh;
  }
  100% {
    height: 70vh;
  }
}